/**
 * Button Component Demo Style for Uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

 h2 {
    font-size: 24px;
 }

 .kuma-button {
    margin-right: 20px;
 }

 * {
     box-sizing: border-box;
 }

@import "../node_modules/uxcore-kuma/src/variables";
@import "../src/Button.less";
