/**
 * Button Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
.kuma-button {
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  line-height: 28px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 2px;
  border: 0 none;
  cursor: pointer;
  background-color: #ff9900;
  border: 1px solid #ff8800;
  color: #ffffff;
}
.kuma-button:hover {
  background-color: #ff8800;
  border: 1px solid #ff6600;
  color: #ffffff;
}
.kuma-button-primary {
  background-color: #ff9900;
  border: 1px solid #ff8800;
  color: #ffffff;
}
.kuma-button-primary:hover {
  background-color: #ff8800;
  border: 1px solid #ff6600;
  color: #ffffff;
}
.kuma-button-secondary {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  color: #666666;
}
.kuma-button-secondary:hover {
  background-color: #ff9900;
  border: 1px solid #ff8800;
  color: #ffffff;
}
.kuma-button-disabled {
  background-color: #cccccc;
  border: 1px solid #b6b6b6;
  color: #999999;
  cursor: not-allowed;
}
.kuma-button-disabled:hover {
  background-color: #cccccc;
  border: 1px solid #b6b6b6;
  color: #999999;
}
.kuma-button-lg {
  padding: 0 20px;
  height: 36px;
  line-height: 34px;
  font-size: 16px;
}
.kuma-button-sm {
  padding: 0 10px;
  height: 22px;
  font-size: 12px;
  line-height: 20px;
}
.kuma-segment-button {
  display: inline-block;
}
.kuma-segment-button li {
  display: inline-block;
  padding: 0 5px;
  height: 25px;
  line-height: 23px;
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
.kuma-segment-button li:hover {
  background-color: #ff9900;
  border-color: #ff9900 !important;
  color: #ffffff;
}
.kuma-segment-button li.selected {
  background-color: #ff9900;
  border-color: #ff9900 !important;
  color: #ffffff;
}
.kuma-segment-button li.first {
  border-left: 1px solid #cccccc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.kuma-segment-button li.last {
  border-right: 1px solid #cccccc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.kuma-switch-button {
  margin-left: 10px;
  color: #ffffff;
  position: relative;
  width: 55px;
  height: 18px;
  line-height: 16px;
  border-radius: 11px;
  border: 1px solid #ff9900;
  cursor: pointer;
}
.kuma-switch-button .kuma-switch-txt {
  position: absolute;
  top: 0;
}
.kuma-switch-button .kuma-switch-circle {
  position: absolute;
  top: 1px;
  width: 14px;
  height: 14px;
  border-radius: 8px;
}
.kuma-switch-button.close {
  background-color: #ff9900;
}
.kuma-switch-button.close .kuma-switch-txt {
  left: 6px;
  color: #ffffff;
}
.kuma-switch-button.close .kuma-switch-circle {
  right: 4px;
  background-color: #ffffff;
}
.kuma-switch-button.open {
  background-color: #ffffff;
  border-color: #cccccc;
}
.kuma-switch-button.open .kuma-switch-txt {
  color: #999999;
  right: 6px;
}
.kuma-switch-button.open .kuma-switch-circle {
  background-color: #cccccc;
  left: 4px;
}

/*# sourceMappingURL=Button.css.map */