/**
 * Button Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__buttonPrefixCls: kuma-button;

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.@{__buttonPrefixCls}-loading {
  position: relative;
}

.@{__buttonPrefixCls}-loading-icon {
  width: 16px;
  height: 16px;
  animation: rotation linear 2s;
  animation-iteration-count: infinite;
  vertical-align: middle;
}

.@{__buttonPrefixCls}-has-icon {
    > span {
        margin-left: 5px;
        vertical-align: middle;
    }
}